services:
  # user-service:
  #   build: ./user-service
  #   ports:
  #     - "8000:8080"
  # auth-service:
  #   build: ./auth-service
  #   ports:
  #     - "8001:8080"
  # task-service:
  #   build: ./task-service
  #   ports:
  #     - "8002:8080"
  mysql_db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
volumes:
  mysql_data:
